{% extends 'base.html.twig' %}

{% block title %}Cgvcgu{% endblock %}

{% block body %}
 <div class="container mt-5">


   

 <div class="row shadow p-3 mb-5 bg-white rounded">
    <div class=" col-12">
  

    <table class="table">
        <tbody>
            
            <tr>
                <th>Conditions générales de vente et d'utilisation</th>
                <td>{{ cgvcgu.conditiong|raw }}</td>
            </tr>
        </tbody>
    </table>

    </div></div></div>

{% endblock %}
