{% extends 'base.html.twig' %}

{% block title %}Cgvcgu{% endblock %}

{% block body %}
    <h1>Conditions générales de vente et d'utilmisation</h1>

    <table class="table">
        <tbody>
            
            <tr>
                <th>Conditions générales de vente et d'utilisation</th>
                <td>{{ cgvcgu.conditiong|raw }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('cgvcgu_index') }}">back to list</a>

    <a href="{{ path('cgvcgu_edit', {'id': cgvcgu.id}) }}">edit</a>

    {{ include('cgvcgu/_delete_form.html.twig') }}
{% endblock %}
