{% extends 'base.html.twig' %}

{% block title %}Cgvcgu{% endblock %}

{% block body %}
    <h1 class="mbr-section-title mbr-fonts-style align-left mbr-pb-2 display-1" style="text-align:center;">Conditions générales de vente et d'utilisation</h1>

    <table class="table">
        <tbody>
            
            <tr>
                <th>Conditions générales de vente et d'utilisation</th>
                <td>{{ cgvcgu.conditiong|raw }}</td>
            </tr>
        </tbody>
    </table>

    

{% endblock %}
