{% extends 'baseA.html.twig' %}

{% block title %}New Client{% endblock %}

{% block body %}
   <div class="container mt-5">


    <h1>Ajouter un client</h1>
        <a class="btn btn-primary" href="{{ path('client_index') }}">Retour</a>
 <div class="row shadow p-3 mb-5 bg-white rounded">
    <div class=" col-12">

    {{ include('client/_form.html.twig') }}

{% endblock %}
