{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}

<

<section class="content5 cid-s329JSYoFs" id="content05-y">

    
    <div class="container">
        <div class="mbr-row">
            <div class="mbr-col-lg-6 mbr-col-md-12 mbr-col-sm-12">
                <h3 class="mbr-section-subtitle mbr-fonts-style mbr-pb-3 align-left display-2">Entretien du produit et conseils</h3>
                <p class="mbr-fonts-style mbr-text align-left display-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
                    sollicitudin orci vel risus ultricies semper.</p>
            </div>
        </div>
    </div>
</section>

<section class="form form1 cid-s329Ka5vg5" id="form01-16">
    
    
    <div class="container">
        <div class="mbr-row">
            <div class="mbr-col-lg-12 mbr-col-md-12 mbr-pb-5 mbr-col-sm-12">
                <h2 class="mbr-section-title mbr-fonts-style mbr-pb-3 align-left display-2">Nous contacter</h2>
                <h3 class="mbr-fonts-style mbr-subtitle align-left display-7">Dites-nous comment nous pouvons vous aider.</h3>
            </div>

            <div class="mbr-col-lg-6 mbr-col-md-12 mbr-col-sm-12 md-pb mbr-form" data-form-type="formoid">




                <!--Formbuilder Form-->
                <form method="POST" class="mbr-form" action-xhr="https://formoid.net/api/amp-form/push" data-form-title="Form Name"><input type="hidden" name="email" data-form-email="true" value="kdW0gBK0BiISg8EaJfi452A+FAhIJf2ji3IVKUFHbbdANFDS0joBMcw1bcXsQ42Ud4lyNPJkR1utuNUhKhGx4grGFEtOGgaEKyNXdPwXrNsoWNrjNl6XxZQkP52VGLaX.k4u0AUpew7LdeRIwoX24DQeuk1m16/QXfwNqzfrjMsBmJB1fI830rixSgxsx4WAveh2141qxNUU5vkJg1lubrZaXIEDu915OWfycVazHGxQvu3Tu/Pjs0mcnlXsgpxKS">
                    <div class="mbr-row">
                        <div submit-success="" class="mbr-col-lg-12 mbr-col-md-12 mbr-col-sm-12">
                            <template data-form-alert="" type="amp-mustache">Thanks for filling out the form!</template>
                        </div>
                        <div submit-error="" class="mbr-col-lg-12 mbr-col-md-12 mbr-col-sm-12">
                            <template data-form-alert="" type="amp-mustache">Failed!</template>
                        </div>
                    </div>
                    <div class="dragArea mbr-row">
                        <div class="mbr-col-lg-12 mbr-col-md-12 mbr-col-sm-12 field" data-for="form[data][0][1]">
                            <input type="hidden" name="form[data][0][0]" value="name" id="form[data][0][0]-form01-16" data-form-field="">
                            <input type="text" name="form[data][0][1]" placeholder="Nom complet" data-form-field="name" class="field-input display-7" value="" id="form[data][0][1]-form01-16">
                        </div>
                        <div class="mbr-col-lg-12 mbr-col-md-12 mbr-col-sm-12 field" data-for="form[data][1][1]">
                            <input type="hidden" name="form[data][1][0]" value="email" id="form[data][1][0]-form01-16" data-form-field="">
                            <input type="email" name="form[data][1][1]" placeholder="Email" data-form-field="email" class="field-input display-7" value="" id="form[data][1][1]-form01-16">
                        </div>
                        <div data-for="form[data][2][1]" class="mbr-col-lg-12 mbr-col-md-12 mbr-col-sm-12 field">
                            <input type="hidden" name="form[data][2][0]" value="text" id="form[data][2][0]-form01-16" data-form-field="">
                            <input type="text" name="form[data][2][1]" placeholder="Sujet" data-form-field="text" class="field-input display-7" value="" id="form[data][2][1]-form01-16">
                        </div>
                        <div data-for="form[data][3][1]" class="mbr-col-lg-12 mbr-col-md-12 mbr-col-sm-12 field">
                            <input type="hidden" name="form[data][3][0]" value="message" id="form[data][3][0]-form01-16" data-form-field="">
                            <textarea name="form[data][3][1]" placeholder="Commentaire" data-form-field="message" class="field-input display-7" id="form[data][3][1]-form01-16"></textarea>
                        </div>
                        <div class="mbr-col-auto"><button type="submit" class="btn btn-black display-7">Envoyer</button></div>
                    </div>
                <span class="gdpr-block">
<label>
<span class="textGDPR" style="color: #a7a7a7"><input type="checkbox" name="gdpr" id="gdpr-form01-16" required="">En continuant vous acceptez <a style="color: #767676; text-decoration: none;" href="terms.html">nos conditions générales d'utilisation</a> ainsi que <a style="color: #767676; text-decoration: none;" href="policy.html"> notre politique de confidentialité</a>.</span>
</label>
</span></form>
                <!--Formbuilder Form-->
            </div>

            <div class="mbr-col-lg-3 mbr-col-md-12 mbr-col-sm-12">
                <div class="item">
                    <h3 class="mbr-section-subtitle mbr-fonts-style mbr-pb-1 align-left display-7"><strong>Information&nbsp;</strong></h3>
                    <p class="mbr-fonts-style mbr-text align-left display-4">support@yoursite.com</p>
                </div>

                <div class="item">
                    <h3 class="mbr-section-subtitle mbr-fonts-style mbr-pb-1 align-left display-7"><strong>Service client</strong></h3>
                    <p class="mbr-fonts-style mbr-text align-left display-4">support@yoursite.com</p>
                </div>

                <div class="item">
                    <h3 class="mbr-section-subtitle mbr-fonts-style mbr-pb-1 align-left display-7"><strong>Ventes</strong></h3>
                    <p class="mbr-fonts-style mbr-text align-left display-4">support@yoursite.com</p>
                </div>

                <div class="item">
                    <h3 class="mbr-section-subtitle mbr-fonts-style mbr-pb-1 align-left display-7"><strong>Presse</strong></h3>
                    <p class="mbr-fonts-style mbr-text align-left display-4">support@yoursite.com</p>
                </div>

                <div class="item">
                    <h3 class="mbr-section-subtitle mbr-fonts-style mbr-pb-1 align-left display-7"><strong>Suivez nous</strong></h3>
                    <p class="mbr-fonts-style mbr-text align-left display-4">Instagram
                        <br>Pinterest
                        <br>Twitter
                        <br>Facebook</p>
                </div>

            </div>




        </div>
    </div>
</section>
{% endblock %}
