{% extends 'base.html.twig' %}

{% block title %}New Message{% endblock %}

{% block body %}
   <div class="container mt-5">
       <h1 class="mbr-section-title mbr-fonts-style align-left mbr-pb-2 display-1" style="text-align:center">Nous contacter</h1>
       
    <div class="row shadow p-3 mb-5 bg-white rounded">

    {{ include('message/_form.html.twig') }}

   </div>
   </div>
{% endblock %}
