{% extends 'baseA.html.twig' %}

{% block title %}New Logo{% endblock %}

{% block body %}
<div class="container mt-5">
     
    <h1>Enrigistrer un nouveau logo</h1>
      
    <div class="row shadow p-3 mb-5 bg-white rounded">
    <div class=" col-12">

    {{ include('logo/_form.html.twig') }}

   
{% endblock %}
