{% extends 'baseA.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}
     <div class="container mt-5">
    <h1>Categorie</h1>
 <a class="btn btn-warning" href="{{ path('categorie_edit', {'id': categorie.id}) }}">Modifier</a>

 
      
     
       

    <div class="row shadow p-3 mb-5 bg-white rounded">
  
    <div class=" col-12">

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categorie.id }}</td>
            </tr>
            <tr>
                <th>Categorie</th>
                <td>{{ categorie.categorie }}</td>
            </tr>
        </tbody>
    </table>



   

    {{ include('categorie/_delete_form.html.twig') }}
{% endblock %}
